<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>EG Chain Module Sample</title>
</head>
<body>
    <h1>ASP.NET Razor EG Chain Module Sample</h1>

    @RenderBody()
</body>
</html>